In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp
import seaborn as sns

BENIN DATA ANALYSIS

In [2]:
benin_data = pd.read_csv('../data/benin-malanville.csv')
benin_data.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [4]:
benin_data.shape

(525600, 19)

In [6]:
data_types = benin_data.dtypes
data_types

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

In [7]:
missing_values = benin_data.isnull().sum()
missing_values

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [8]:
benin_data.duplicated().sum()

np.int64(0)

In [9]:
benin_data.drop('Comments', axis=1, errors='ignore')

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9

In [11]:
summary_stats = benin_data.describe()
print("Summary Statistics: \n", summary_stats)

Summary Statistics:
                  GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      240.559452     167.187516     115.358961     236.589496
std       331.131327     261.710501     158.691074     326.894859
min       -12.900000      -7.800000     -12.600000       0.000000
25%        -2.000000      -0.500000      -2.100000       0.000000
50%         1.800000      -0.100000       1.600000       4.500000
75%       483.400000     314.200000     216.300000     463.700000
max      1413.000000     952.300000     759.200000    1342.300000

                ModB           Tamb             RH             WS  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      228.883576      28.179683      54.487969       2.121113
std       316.536515       5.924297      28.073069       1.603466
min         0.000000      11.000000       2.100000       0.000000
25%         0.000000      24.200000      28.800000       1.000000
50%         4.300000      28.000000      55.100000       1.900000
75%       447.900000      32.300000      80.100000       3.100000
max      1342.300000      43.800000     100.000000      19.500000

              WSgust        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean        2.809195       0.473390     153.435172       8.582407
std         2.029120       0.273395     102.332842       6.385864
min         0.000000       0.000000       0.000000       0.000000
25%         1.300000       0.400000      59.000000       3.700000
50%         2.600000       0.500000     181.000000       8.600000
75%         4.100000       0.600000     235.100000      12.300000
max        26.600000       4.200000     360.000000      99.400000

                  BP       Cleaning  Precipitation          TModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      994.197199       0.000923       0.001905      35.246026
std         2.474993       0.030363       0.037115      14.807258
min       985.000000       0.000000       0.000000       9.000000
25%       993.000000       0.000000       0.000000      24.200000
50%       994.000000       0.000000       0.000000      30.000000
75%       996.000000       0.000000       0.000000      46.900000
max      1003.000000       1.000000       2.500000      81.000000

               TModB  Comments
count  525600.000000       0.0
mean       32.471736       NaN
std        12.348743       NaN
min         8.100000       NaN
25%        23.600000       NaN
50%        28.900000       NaN
75%        41.500000       NaN
max        72.500000       NaN

In [12]:

# Check for outliers (e.g., in GHI, DNI, DHI)
outliers = benin_data[(benin_data['GHI'] < 0) | (benin_data['DNI'] < 0) | (benin_data['DHI'] < 0)]
print("Outliers:\n", outliers)

Outliers:
                Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0       2021-08-09 00:01 -1.2 -0.2 -1.1   0.0   0.0  26.2  93.4  0.0     0.4
1       2021-08-09 00:02 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.6  0.0     0.0
2       2021-08-09 00:03 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.7  0.3     1.1
3       2021-08-09 00:04 -1.1 -0.1 -1.0   0.0   0.0  26.2  93.3  0.2     0.7
4       2021-08-09 00:05 -1.0 -0.1 -1.0   0.0   0.0  26.2  93.3  0.1     0.7
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
525595  2022-08-08 23:56 -5.5 -0.1 -5.9   0.0   0.0  23.1  98.3  0.3     1.1
525596  2022-08-08 23:57 -5.5 -0.1 -5.8   0.0   0.0  23.1  98.3  0.2     0.7
525597  2022-08-08 23:58 -5.5 -0.1 -5.8   0.0   0.0  23.1  98.4  0.6     1.1
525598  2022-08-08 23:59 -5.5 -0.1 -5.8   0.0   0.0  23.1  98.3  0.9     1.3
525599  2022-08-09 00:00 -5.5 -0.1 -5.7   0.0   0.0  23.1  98.3  1.2     1.6

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0           0.1  122.1      0.0  998         0            0.0   26.3   26.2
1           0.0    0.0      0.0  998         0            0.0   26.3   26.2
2           0.5  124.6      1.5  997         0            0.0   26.4   26.2
3           0.4  120.3      1.3  997         0            0.0   26.4   26.3
4           0.3  113.2      1.0  997         0            0.0   26.4   26.3
...         ...    ...      ...  ...       ...            ...    ...    ...
525595      0.5  119.3      4.1  996         0            0.0   23.5   22.9
525596      0.4  115.2      2.3  996         0            0.0   23.5   22.9
525597      0.5  129.8      3.4  996         0            0.0   23.5   22.9
525598      0.5  124.4      4.3  996         0            0.0   23.5   22.9
525599      0.3  124.1      5.9  996         0            0.0   23.5   22.9

        Comments
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

[278722 rows x 19 columns]

In [13]:
# Convert Timestamp to datetime
benin_data['Timestamp'] = pd.to_datetime(benin_data['Timestamp'])